<fieldset>
  <div class="row">
    <%= render 'shared/product_detail' %>
    <section class="col col-md-12">
      <label class="col-md-1 label">SIZE</label>
      <label class="col-md-11 input custom-input-box">
        <%= hidden_field_tag :size_detail_id, '', :class => "input-sm" %>
        <table class="table table-striped table-bordered" id="table_size">
          <tbody>
            <tr>
              <th>Min Stock Origin Branch</th>
              <td></td>
            </tr>
            <tr>
              <th>Available Quantity Origin Branch</th>
              <td></td>
            </tr>
            <tr>
              <th>Min Stock Destination Branch</th>
              <td></td>
            </tr>
            <tr>
              <th>Available Quantity Destination Branch</th>
              <td></td>
            </tr>
            <tr>
              <th>Quantity</th>
              <td><%= text_field_tag :quantity_number, '', class: 'input-sm', disabled: 'disabled' %></td>
            </tr>
          </tbody>
        </table>
      </label>
    </section>
    <section>
      <button type='button' class="col-md-2 btn btn-primary" onclick="return(add_product('<%= params[:controller] %>'))" style="padding:6px 10px 6px 10px; margin-left:20px">Add List</button>
    </section>
  </div>
</fieldset>
