<%# @global_finances.each do |ap| %>
  <tr>
    <td>01/11/2015</td>
    <td>Rp.12,872,590</td>
    <td>Rp.17,481,205</td>
    <td>Rp.35,286,801</td>
    <td></td>
    <td>Rp.8.000</td>
    <td></td>
    <td>Rp.36,879</td>
    <td></td>
    <td></td>
    <td>Rp.65,685,475</td>
    <td>Rp.3,385,540</td>
    <td>Rp.750,985</td>
    <td>Rp.1,419,450</td>
    <td></td>
    <td></td>
    <td>Rp.100,000</td>
    <td>Rp.60,029,500</td>
    <td>Rp.-</td>
  </tr>
  <tr>
    <td>02/11/2015</td>
    <td>Rp.6,408,700</td>
    <td>Rp.11,607,700</td>
    <td>Rp.27,103,375</td>
    <td></td>
    <td>Rp.2,000</td>
    <td></td>
    <td>Rp.32,605</td>
    <td></td>
    <td></td>
    <td>Rp.45,254,380</td>
    <td>Rp.10,054,000</td>
    <td>Rp.330,000</td>
    <td>Rp.1,205,300</td>
    <td></td>
    <td></td>
    <td>Rp.100,000</td>
    <td>Rp.45,916,500</td>
    <td>Rp.-</td>
  </tr>
  <tr>
    <td>03/11/2015</td>
    <td>Rp.10,120,505</td>
    <td>Rp.12,301,870</td>
    <td>Rp.26,237,710</td>
    <td></td>
    <td>Rp.8,000</td>
    <td></td>
    <td>Rp.49,985</td>
    <td></td>
    <td></td>
    <td>Rp.48,718,070</td>
    <td>Rp.1,166,270</td>
    <td></td>
    <td>Rp.791,770</td>
    <td></td>
    <td></td>
    <td></td>
    <td>Rp.39,151,000</td>
    <td>Rp.-</td>
  </tr>
<%# end %>
<tr>
  <td style="font-weight: bold;">Total</td>
  <td>Rp.296,696,825</td>
  <td>Rp.448,577,095</td>
  <td>Rp.867,631,218</td>
  <td>Rp.-</td>
  <td>Rp.220,000</td>
  <td>Rp.8,000</td>
  <td>Rp.889,134</td>
  <td>Rp.-</td>
  <td>Rp.1,720,500</td>
  <td>Rp.1,615,742,772</td>
  <td>Rp.70,603,920</td>
  <td>Rp.23,889,105</td>
  <td>Rp.50,616,147</td>
  <td>Rp.8,640,000</td>
  <td>Rp.52,500</td>
  <td>Rp.1,820,500</td>
  <td>Rp.1,460,120,600</td>
  <td>Rp.-</td>
</tr>
