<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="widget-header">
        <div class="title">Formulir Jenis</div>
      </div>
      <div class="widget-body">
        <div class="container" id="form-type"><%= render "form" %></div>
      </div>
    </div>
  </div>
</div>