<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
<h2>Forecast <%= @monthly_forecast.forecast.office.office_name %> - <%= Time.new(@monthly_forecast.forecast.year.year, @monthly_forecast.month_number).strftime("%B") %> <%= @monthly_forecast.forecast.year.year %> </h2>