<div aria-live="polite" class="dataTables_info">Showing <%= page %> to <%= per_page * page.to_i %> of <%= count %> entries</div>
<div class="dataTables_paginate paging_full_numbers"><%= paginate records %></div>
