<%# @repayments.each do |ap| %>
  <tr>
    <td>8-Jun-2015</td>
    <td>3140</td>
    <td>Rp.4.763.286</td>
    <td rowspan="6">Rp.43.920.427</td>
    <td rowspan="6">15-Sep-2015</td>
    <td rowspan="6"></td>
    <td rowspan="6"></td>
    <td rowspan="6">15-Jun-2015</td>
    <td rowspan="6">Manual 00786</td>
    <td rowspan="6">30</td>
    <td rowspan="6">Rp.1.901.049</td>
    <td rowspan="6">40</td>
    <td rowspan="6">Rp.2.534.680</td>
    <td rowspan="6">Rp.47.000</td>
    <td rowspan="6">Rp.11.698</td>
    <td rowspan="6"></td>
    <td rowspan="6"></td>
    <td rowspan="6">15-Sep-2015</td>
    <td rowspan="6">Rp.39.426.000</td>
    <td rowspan="6">Rp.43.920.427</td>
    <td rowspan="6">Lunas</td>
  </tr>
  <tr>
    <td>12-Jun-2015</td>
    <td>3147</td>
    <td>Rp.9.505.249</td>
  </tr>
  <tr>
    <td>12-Jun-2015</td>
    <td>3148</td>
    <td>Rp.6.872.100</td>
  </tr>
  <tr>
    <td>20-Jun-2015</td>
    <td>3149</td>
    <td>Rp.5.670.345</td>
  </tr>
  <tr>
    <td>23-Jun-2015</td>
    <td>3153</td>
    <td>Rp.6.336.832</td>
  </tr>
  <tr>
    <td>29-Jun-2015</td>
    <td>3158</td>
    <td>Rp.10.772.615</td>
  </tr>
<%# end %>