<%# @store_cashs.each do |ap| %>
  <tr>
    <td>1-Nov-15</td>
    <td>Rp.37.508</td>
    <td></td>
    <td>Rp.37.508</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Rp.-</td>
  </tr>
  <tr>
    <td>2-Nov-15</td>
    <td></td>
    <td></td>
    <td>Rp.22.508</td>
    <td></td>
    <td></td>
    <td>Rp.15.000</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Rp.15.000</td>
  </tr>
  <tr>
    <td>3-Nov-15</td>
    <td></td>
    <td></td>
    <td>Rp.22.508</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Rp.-</td>
  </tr>
<%# end %>
<tr>
  <td style="font-weight: bold;">Total</td>
  <td></td>
  <td></td>
  <td>Rp.22.508</td>
  <td></td>
  <td></td>
  <td>Rp.15.000</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Rp.15.000</td>
</tr>