<div class="modal fade" id="myModal<%= "#{(pr_id rescue nil)}_#{product.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render partial: 'size', locals: {product: product, quantities: quantities, product_sizes: product.product_sizes, key: key} %>
</div>
