<% if @areas  %>
  //$('#area_city_id').html("<option>Please Select</option>");
  $('#area_city_id').html("<%= escape_javascript options_from_collection_for_select(@areas, :id, :name) %>");
<% end %>
