<tr>
  <td>1</td>
  <td>Pembayaran Tunai</td>
  <td>Rp.23.664.930</td>
  <td>Voucher</td>
  <td></td>
  <td>Rp.100.000</td>
  <td></td>
  <td>Rp.17.100.000</td>
</tr>
<tr>
  <td>2</td>
  <td>BTP Masuk (Tunai)</td>
  <td></td>
  <td>Transfer Via BNI</td>
  <td></td>
  <td>Rp.50.000</td>
  <td></td>
  <td>Rp.5.900.000</td>
</tr>
<tr>
  <td>3</td>
  <td>Dp. Pembelian (Masuk)</td>
  <td></td>
  <td></td>
  <td></td>
  <td>Rp.20.000</td>
  <td></td>
  <td>Rp.80.000</td>
</tr>
<tr>
  <td>4</td>
  <td>Charge Merchant (Tunai)</td>
  <td></td>
  <td></td>
  <td></td>
  <td>Rp.10.000</td>
  <td></td>
  <td>Rp.320.000</td>
</tr>
<tr>
  <td>5</td>
  <td>Service</td>
  <td></td>
  <td></td>
  <td></td>
  <td>Rp.5.000</td>
  <td></td>
  <td>Rp.145.000</td>
</tr>
<tr>
  <td>6</td>
  <td>Buku Katalog/Kertas Kado</td>
  <td></td>
  <td></td>
  <td></td>
  <td>Rp.2.000</td>
  <td></td>
  <td>Rp.94.000</td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td>Rp.23.664.930</td>
  <td></td>
  <td></td>
  <td>Rp.1.000</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Rp.500</td>
  <td></td>
  <td>Rp.33.000</td>
</tr>
<tr>
  <td>7</td>
  <td>DP. Pembelian (Keluar)</td>
  <td></td>
  <td>Mandiri</td>
  <td>Rp.88.000</td>
  <td>Rp.200</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td colspan="2" rowspan="2">Pendapatan Tunai</td>
  <td rowspan="2">Rp.23.664.930</td>
  <td>BNI</td>
  <td>Rp.1.196.700</td>
  <td>Rp.100</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>BCA</td>
  <td></td>
  <td>Rp.50</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td colspan="3"></td>
  <td>Pengeluaran Tunai</td>
  <td>Rp.-</td>
  <td colspan="2">Total Setoran</td>
  <td>Rp.23.672.000</td>
</tr>
<tr>
  <td>8</td>
  <td>Omzet - Koperasi</td>
  <td></td>
  <td rowspan="2"></td>
  <td rowspan="2"></td>
  <td rowspan="2" colspan="2">Saldo Tunai</td>
  <td rowspan="2">Rp.23.664.930</td>
</tr>
<tr>
  <td>9</td>
  <td>Credit Card</td>
  <td></td>
</tr>
<tr>
  <td>10</td>
  <td>Debit Card</td>
  <td>Rp.1.284.700</td>
  <td>BTP Masuk (Saldo)</td>
  <td>Rp.-</td>
  <td colspan="2">Selisih</td>
  <td>Rp.7.070</td>
</tr>
<tr>
  <td>11</td>
  <td>Tukar Point</td>
  <td></td>
  <td colspan="2"></td>
  <td colspan="3"></td>
</tr>
<tr>
  <td colspan="2">Pendapatan Non Tunai</td>
  <td>Rp.1.284.700</td>
  <td colspan="2"></td>
  <td colspan="3"></td>
</tr>
