<%= render 'shared/breadcrumb' %>
<div id="content">
  <section id="widget-grid">
    <div id='notice_template'><%= render 'layouts/notice' %></div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
          <header id="header-product" role="heading">
          <h2><span class="widget-icon"> <i class="fa fa-list-ul"></i> </span> Denomination Report List</h2></header>
          <div style="margin-top:-10px;">
            <div class="widget-body no-padding">
              <%= link_to export_finance_reports_denominations_path(format: "xlsx"), :class => "btn btn-labeled btn-primary edit-btn-primary" do %>
                <span class="btn-label"><i class="glyphicon glyphicon-download"></i></span>Export XLSX
              <% end %>
            </div>
            <table class="table table-striped table-brequested table-bordered overflow" width="100%">
              <thead>
                <tr>
                  <th rowspan="2">No</th>
                  <th colspan="2">Income</th>
                  <th colspan="2">Cost & Spending</th>
                  <th colspan="3">Cashier Deposit</th>
                </tr>
                <tr>
                  <th>Commentary</th>
                  <th>Total</th>
                  <th>Commentary</th>
                  <th>Total</th>
                  <th>Nominal</th>
                  <th>Qty</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id='denomination_list'><%= render 'list' %></tbody>
            </table>
            <table class="table table-striped table-brequested table-hover" width="100%">
              <tr>
                <td>Total Income</td>
                <td>Rp. 24.949.630</td>
              </tr>
              <tr>
                <td>BTP Out</td>
                <td></td>
              </tr>
              <tr>
                <td>Bon Entrusted</td>
                <td></td>
              </tr>
              <tr>
                <td>Income Etc</td>
                <td></td>
              </tr>
              <tr>
                <td>Net Sales</td>
                <td>Rp. 24.949.630</td>
              </tr>
            </table>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
