<%# @bank_outs.each do |ap| %>
  <tr>
    <td></td>
    <td>Family Tas</td>
    <td>Rp.4.560.000</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Retur 2</td>
    <td></td>
    <td>Rp.76.000</td>
  </tr>
  <tr>
    <td></td>
    <td>Adm B</td>
    <td></td>
    <td>Rp.5.000</td>
  </tr>
  <tr>
    <td></td>
    <td>Tunai</td>
    <td>Rp.4.479.000</td>
    <td></td>
  </tr>
<%# end %>
<tr>
  <td colspan="2">Total</td>
  <td></td>
  <td></td>
</tr>
