<section class="form-group">
  <section class="col col-md-3">
    <label class="col-md-8 label">Status 1</label>
    <label class="col-md-8"><%= @product.status1 %></label>
  </section>
  <section class="col col-md-3">
    <label class="col-md-8 label">Status 2</label>
    <label class="col-md-8"><%= @product.status2 %></label>
  </section>
  <section class="col col-md-3">
    <section class="form-group">
      <label class="col-md-8 label">Status 3</label>
    <label class="col-md-8"><%= @product.status3 %></label>
    </section>
  </section>
  <section class="col col-md-3">
    <label class="col-md-8 label">Status 4</label>
    <label class="col-md-8"><%= @product.status4 %></label>
  </section>
</section>
