<%# @account_payables.each do |ap| %>
  <tr>
    <td>1</td>
    <td>Hutang Dagang ABC</td>
    <td>Rp.4.459.260.342</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Hutang Konsinyasi ABC</td>
    <td>Rp.603.285.519</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Hutang Azzurra</td>
    <td>Rp.2.553.205.030</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Hutang Pendingan</td>
    <td>Rp.86.886.380</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Giro Mundur</td>
    <td>Rp.27.394.000</td>
  </tr>
<%# end %>
<tr>
  <td colspan="2">Total</td>
  <td>Rp.7.730.031.271</td>
</tr>
