<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Level</Data></Cell>
        <Cell><Data ss:Type="String">Minimum Amount</Data></Cell>
        <Cell><Data ss:Type="String">Discount Percent</Data></Cell>
      </Row>
    <% MemberLevel.all.each do |member_level| %>
      <Row>
        <Cell><Data ss:Type="String"><%= member_level.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= member_level.level %></Data></Cell>
        <Cell><Data ss:Type="String"><%= member_level.minimum_amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= member_level.discount_percent %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>