<% if @branches  %>
  $('#warehouse_city_id').html("<option>Please Select</option>");
  $('#warehouse_city_id').append("<%= escape_javascript options_from_collection_for_select(@branches, :id, :name) %>");
<% end %>
