<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s21" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom" />
      <Borders />
      <Font ss:Color="RED"/>
      <Interior />
      <NumberFormat />
      <Protection />
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>


      Stok(file t)
Cashier
Sale
Accept/return/product stock opname
Data Produck
Store
    <Column ss:Span="2"/>
      <Row>
        <Cell><Data ss:Type="String">Stok(file t)</Data></Cell>
      	<Cell><Data ss:Type="String">Cashier</Data></Cell>
        <Cell><Data ss:Type="String">Accept/return/product stock opname</Data></Cell>
        <Cell><Data ss:Type="String">Data Produck</Data></Cell>
        <Cell><Data ss:Type="String">Store</Data></Cell>
      </Row>

    </Table>
  </Worksheet>
</Workbook>