<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s21" ss:Name="Normal">
      <Alignment ss:Vertical="Bottom" />
      <Borders />
      <Font ss:Color="RED"/>
      <Interior />
      <NumberFormat />
      <Protection />
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
    <Column ss:Span="2"/>
      <Row>
        <Cell><Data ss:Type="String">Cashier Open</Data></Cell>
      	<Cell><Data ss:Type="String">Sale</Data></Cell>
        <Cell><Data ss:Type="String">Cancel sales</Data></Cell>
        <Cell><Data ss:Type="String">Retur sales</Data></Cell>
        <Cell><Data ss:Type="String">Cashier Close</Data></Cell>
      </Row>


    </Table>
  </Worksheet>
</Workbook>