<div class="page-sidebar" id="main-menu"> 
	<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
	  <div class="user-info-wrapper">
	    <div class="profile-wrapper"> <img src="/assets/profiles/avatar.jpg"  alt="" data-src="/assets/profiles/avatar.jpg" data-src-retina="/assets/profiles/avatar2x.jpg" width="69" height="69" /> </div>
	    <div class="user-info">
	      <div class="greeting">Welcome</div>
	      <div class="username">John <span class="semi-bold">Smith</span></div>
	      <div class="status">Status<a href="#">
	        <div class="status-icon green"></div>
	        Online</a></div>
	    </div>
	  </div>
	  
	  <ul>
	    <li class="start "> <a href="#" > <i class="icon-custom-home"></i> <span class="title">Dashboard</span> </a></li>
	    <li class=""> <a href="#"> <i class="fa fa-th"></i> <span class="title">Lorem</span> <span class="label label-important pull-right ">HOT</span></a> </li>
	    <li class=""> <a href="#"> <i class="fa fa-envelope"></i> <span class="title">Ipsum</span> <span class=" badge badge-disable pull-right ">203</span></a> </li>
	    <li class=""> <a href="#"> <i class="fa fa-flag"></i> <span class="title">Dolor Sit</span></a></li>
	    <li class="active"> <a href="javascript:;"> <i class="fa fa fa-adjust"></i> <span class="title">Consectetuer </span> </a>
	      <ul class="sub-menu">
	        <li > <a href="#">Adipiscing Elit </a> </li>
	        <li > <a href="#">Sed Diam</a> </li>
	        <li > <a href="#">Nonummy </a> </li>
	      </ul>
	    </li>
	    <li class=""> <a href="javascript:;"> <i class="fa fa-file-text"></i> <span class="title">Tincidunt Ut </span> </a></li>
	    <li class=""> <a href="javascript:;"> <i class="icon-custom-ui"></i> <span class="title">Ut Wisi Enim</span> </a>
	      <ul class="sub-menu">
	        <li > <a href="typography.html"> Ad Minim </a> </li>
	        <li > <a href="messages_notifications.html">Veniam </a> </li>
	        <li > <a href="notifications.html"> Notifications </a> </li>
	        <li > <a href="icons.html">Commodo </a> </li>
	        <li > <a href="buttons.html">Duis Autem</a> </li>
	      </ul>
	    </li>
	    <li class=""> <a href="javascript:;"> <i class="icon-custom-thumb"></i> <span class="title">Facilisis At</span> </a>
	      <ul class="sub-menu">
	        <li > <a href="tables.html"> Iusto Odio </a> </li>
	        <li > <a href="datatables.html"> Zzril  </a> </li>
	      </ul>
	    </li>
	    <li class=""> <a href="javascript:;"> <i class="icon-custom-map"></i> <span class="title">Velit Esse</span> </a>
	      <ul class="sub-menu">
	        <li > <a href="google_map.html"> Molestie Consequat </a> </li>
	        <li > <a href="vector_map.html"> Duis Dolore </a> </li>
	      </ul>
	    </li>
	    <li class=""> <a href="charts.html"> <i class="icon-custom-chart"></i> <span class="title">Nam Liber</span> </a> </li>
	    <li class=""> <a href="javascript:;"> <i class="icon-custom-extra"></i> <span class="title">Claritatem </span> </a>
	      <ul class="sub-menu">
	        <li > <a href="user-profile.html"> Typi non </a> </li>
	        <li > <a href="time_line.html"> Mirum Est </a> </li>
	        <li > <a href="support_ticket.html"> Eodem Modo </a> </li>
	        <li > <a href="gallery.html"> Quarta</a> </li>
	        <li class=""><a href="calender.html"> Fiant Sollemnes</a> </li>
	      </ul>
	    </li>
	    <li class=""> <a href="javascript:;"> <i class="fa fa-folder-open"></i> <span class="title">Claritas Est</span> </a>
	      <ul class="sub-menu">
	        <li > <a href="javascript:;"> Mirum est </a> </li>
	        <li > <a href="javascript:;"> <span class="title">Eodem modo</span> </a>
	          <ul class="sub-menu">
	            <li > <a href="javascript:;"> Claritas est </a> </li>
	            <li > <a href="ujavascript:;"> legentis in iis </a> </li>
	          </ul>
	        </li>
	      </ul>
	    </li>
	  </ul>
	  
	  <div class="clearfix"></div>
	</div>
</div>