<div class="row-fluid">
  <div class="span12">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          Formulir Diskon Member
        </div>
      </div>
      <div class="widget-body">
        <div class="container" id="form-discount">
          <%= render "member_discount_form" %>
        </div>
      </div>
    </div>
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          Daftar Diskon Member
        </div>
        <span class="tools">
          <a class="fs1" aria-hidden="true" data-icon="&#xe090;"></a>
        </span>
      </div>
      <div class="widget-body">
        <div class="container" id="discount-list">
          <%= render "member_discount_list" %>
        </div>
      </div>
    </div>
  </div>
</div>